/* general styling */
html {
    background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
}

/* footer styling */
.footer {
    color: white;

    list-style-type: none;

    font-family: 'Nanum Gothic';
    font-weight: 400;
}

.footer li {
    padding: 0;
}

.github {
    color: white;
    text-decoration: underline;
}


@media only screen and (max-width: 520px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* about me section */
    h1 {
        color: white;

        font-family: 'Scheherazade New';
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px;

        margin-left: 4vw;
        margin-right: 4vw;
    }

    .headshot {
        display: flex;
        justify-content: center;
    }

    .firstBlurbA {
        display: none;
    }

    .tabletLinks {
        display: none;
    }

    .roo {
        width: 90vw;
        height: auto;
    }

    .mobileBlurb {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .mobileBlurb p {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 14px;

        margin-bottom: 30px;
    }

    /* personal links styling */
    .resume, .social {
        list-style-type: none;
        margin-left: -10px;
    }


    .resume li, .social li {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 700;
        font-size: 16px;
    }

    .resume a:link, .social a:link {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 700;
        font-size: 16px;
    }

    .resume a:visited, .social a:visited {
        color: white;
    }


    /* work experience styling */
    h4 {
        color: white;

        font-family: 'Scheherazade New';
        font-size: 25px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1px;

        
        margin-left: 10px;
        margin-bottom: -20px;
        margin-top: 70px;
    }

    .places {
        list-style-type: none;
        margin-bottom: 80px;
    }

    .places h5 {
        padding: 0;
        margin-bottom: -20px;
    }

    .places a:link {
        color: white;
        text-decoration: none;

        font-family: 'Scheherazade New';
        font-weight: 700;
        font-size: 35px;
        letter-spacing: 1px;
    }

    .places a:visited {
        color: white;
        text-decoration: none;
    }

    .places h6 {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 13px;

        padding-top: 0;
        padding-bottom: -10px;
        margin: 0;
    }


    /* work art styling */
    .grid2, .gifaoru, .gifaoru2 {
        display: none;
    }


    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}


@media only screen and (min-width: 520px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }

    /* about me section */
    h1 {
        color: white;

        font-family: 'Scheherazade New';
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1px;

        margin-left: 4vw;
        margin-right: 4vw;
    }

    .headshot {
        display: flex;
        justify-content: center;

        margin-left: 4vw;
        margin-right: 4vw;
    }

    .firstBlurbA {
        display: block;
        padding-left: 10px;

        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .tabletLinks {
        display: none;
    }

    .roo {
        width: 50vw;
        height: auto;
    }

    .mobileBlurb {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .firstBlurb {
        display: none;
    }

    .mobileBlurb p {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;

        margin-bottom: 30px;
    }

    /* personal links styling */
    .personalLinks {
        display: flex;
    }

    .resume, .social {
        list-style-type: none;
        margin-left: -10px;
    }


    .resume li, .social li {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 700;
        font-size: 16px;
    }

    .resume a:link, .social a:link {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 700;
        font-size: 16px;
    }

    .resume a:visited, .social a:visited {
        color: white;
    }


    /* work experience styling */
    h4 {
        color: white;

        font-family: 'Scheherazade New';
        font-size: 25px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1px;

        
        margin-left: 10px;
        margin-bottom: -20px;
        margin-top: 70px;
    }

    .places {
        list-style-type: none;
        margin-bottom: 80px;
    }

    .places h5 {
        padding: 0;
        margin-bottom: -20px;
    }

    .places a:link {
        color: white;
        text-decoration: none;

        font-family: 'Scheherazade New';
        font-weight: 700;
        font-size: 35px;
        letter-spacing: 1px;
    }

    .places a:visited {
        color: white;
        text-decoration: none;
    }

    .places h6 {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 13px;

        padding-top: 0;
        padding-bottom: -10px;
        margin: 0;
    }


    /* work art styling */
    .grid2, .gifaoru, .gifaoru2 {
        display: none;
    }

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }

}

@media only screen and (min-width: 600px) {
    /* about content styling */
    .firstBlurbA {
        display: none;
    }

    .firstBlurb {
        display: block;
    }

    .aboutContent {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 4vw;
        margin-left: 4vw;
    }

    .mobileBlurb {
        margin: initial;
    }

    /* headshot styling */

    .headshot {
        align-self: flex-start;

        display: block;
        margin: initial;
    }

    .roo {
        width: 38vw;
    }

    /* links styling */
    .tabletLinks {
        display: block;
    }

    .personalLinks {
        display: none;
    }


}

@media only screen and (min-width: 700px) {
    /* blurb styling */
} 


@media only screen and (min-width: 768px) {
    /* title styling */
    h1 {
        font-size: 60px;
    }
}

@media only screen and (min-width: 835px) {

}

@media only screen and (min-width: 1000px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1500px) {

}