/* general styling */
html {
    background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
}

/* footer styling */
.footer {
    color: white;

    list-style-type: none;

    font-family: 'Nanum Gothic';
    font-weight: 400;
}

.footer li {
    padding: 0;
}

.github {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 520px) {
    /* background image styling */
    /* background clouds styling */
    .cloud1, .cloud2 {
        position: fixed;
        z-index: -20;
        width: 150vw;
        height: auto;
    }

    .cloud1 {
        right: -80vw;
        top: 15vh;
    }

    .cloud2 {
        right: 20vw;
        top: 60vh;
    }

    .grid {
        position: absolute;
        z-index: -25;
        width: 60vw;
        height: auto;

        right: 0vw;
        top: 70vh;
    }
    
    /* mobile nav styling */
    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* code portfolio title styling */
    .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: "Scheherazade New";
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 90%;

        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -20vh;
    }

    h2 {
        color: white;
        font-family: "Overpass Mono";
        font-size: 16px;
        font-weight: 400;
        
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .projects {
        margin-left: 4vw;
        margin-right: 4vw;

        margin-bottom: 50px;
    }

    /* card styling */
    .card {
        background-color: rgb(255,255,255, 0.6);
        outline: 2px solid #404040;

        margin-top: 50px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;

        box-shadow: 10px 5px 10px #ff655f;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        outline: 2px solid #404040;
        padding: 3px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;

        margin: 0;
        padding: 0;
    }

    .bottombar {
        display: flex;

        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .projectText h4 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 30px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 26vw;
        height: auto;

        align-self: center;
    }

    .projectImages a {
        background-color: #FF9793;
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3vw;
        padding-right: 3vw;

        align-self: center;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;
    }

    .portfolio a:visited {
        color: white;
    }
    

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }

}

@media only screen and (min-width: 520px) {
    .cloud1, .cloud2 {
        position: fixed;
        z-index: -20;
        width: 150vw;
        height: auto;
    }

    .cloud1 {
        right: -80vw;
        top: 15vh;
    }

    .cloud2 {
        right: 20vw;
        top: 60vh;
    }

    .grid {
        position: absolute;
        z-index: -25;
        width: 60vw;
        height: auto;

        right: 0vw;
        top: 70vh;
    }

    /* mobile nav styling */
    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* code portfolio title styling */
    .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: "Scheherazade New";
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 90%;

        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -20vh;
    }

    h2 {
        color: white;
        font-family: "Overpass Mono";
        font-size: 18px;
        font-weight: 400;
        
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .projects {
        margin-left: 4vw;
        margin-right: 4vw;

        margin-bottom: 50px;
    }

    /* card styling */
    .card {
        background-color: rgb(255,255,255, 0.6);
        outline: 3px solid #404040;

        margin-top: 60px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;

        box-shadow: 10px 5px 10px #ff655f;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        outline: 3px solid #404040;
        padding: 5px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    .bottombar {
        display: flex;

        padding: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .projectText h4 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 35px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 18px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 30vw;
        height: auto;

        margin-bottom: 10px;

        align-self: center;
    }

    .projectImages a {
        background-color: #FF9793;
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5vw;
        padding-right: 5vw;

        align-self: center;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 18px;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 18px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 18px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 18px;
    }

    .portfolio a:visited {
        color: white;
    }
    

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    /* projects styling */
    .projects {
        display: flex;
        flex-direction: column;
    }

    /* card styling */
    #motherHen {
        width: 536px;
        height: 340px;

        align-self: flex-end;
    }

    #birdApp{
        width: 536px;
        height: 330px;

        align-self: flex-start;
    }

    #yaochi {
        width: 536px;
        height: 310px;

        align-self: flex-end;
    }

    #goodNews {
        width: 536px;
        height: 310px;

        align-self: flex-start;
    }

    #ohhi {
        width: 536px;
        height: 340px;

        align-self: flex-end;
    }

    .projectImages img {
        width: 180px;
        height: auto;
    }

    .projectImages a {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        height: initial;
        margin-top: 250px;
        margin-bottom: 200px;
    }

    h1 {
        font-size: 60px;
        
        margin-right: 6vw;
        margin-left: 6vw;
        margin-top: initial;
    }

    h2 {
        margin-right: 6vw;
        margin-left: 6vw;
    }
    
    /* projects styling */
    .projects {
        margin-left:8vw;
        margin-right:8vw;
    }

    /* portfolio content styling */
    .moreStuff {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moreStuff p {
        font-size: 18px;
    }

    .portfolio li {
        font-size: 18px;
    }

    .portfolio a:link {
        font-size: 18px;
    }

    .portfolio a:hover {
        background-color: #445DC9;
    }

    /* footer styling */
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: left;
    }

    .leftFoot {
        margin-right: 20vw;
        margin-left: 0;
    }
    
    .rightFoot {
        margin-left: 20vw;
        margin-right: 0;
    }
}

@media only screen and (min-width: 835px) {
    /* putting away mobile nav */
    .mobileNav {
        display: none;
    }

    .mobileTitle {
        display: none;
    }

    input {
        display: none;
    }

    .open {
        display: none;
    }

    .menuOpen {
        display: none;
    }

    /* title styling */
    .squareLogo {
        width: 50px;
        height: auto;
    
        padding: 10px 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    
        margin-right: auto;
    }


    /* navigation bar styling */
    .nav {
        list-style-type: none;
        font-size: 16px;
        font-family: 'Nanum Gothic';
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .nav li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .more {
        margin-right: 20px;
    }
    
    .more a:link, .navLink a:link {
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    
    .logo a:link {
        padding: 0;
        text-decoration: none;
        color:white;
    }
    
    .nav a:visited {
        text-decoration: none;
        color: white;
    }
    
    .more a:hover, .navLink a:hover {
        color: white;
        background-color: #FF655F;
    }

    /* footer styling */
    .footer {
        font-size: 16px;
    }

}

@media only screen and (min-width: 1000px) {
    /* background images styling */
    .cloud1 {
        width: 120vw;
        height: auto;
        right: -60vw;
        top: 20vh;
    }

    .cloud2 {
        width: 120vw;
        height: auto;
        right: 40vw;
        top: 50vh;
    }

    .grid {
        position: absolute;
        
        width: 50vw;
        z-index: -15;
        right: 15vw;
        top: 70vh;
    }
    
    /* intro styling */
    .intro h2 {
        width: 70vw;
    }

    .projects {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    /* card styling */
    #motherHen {
        width: 444px;
        height: 300px;

        align-self: flex-end;
    }

    #birdApp{
        width: 444px;
        height: 320px;

        align-self: flex-start;
    }

    #yaochi {
        width: 444px;
        height: 300px;

        align-self: flex-end;
    }

    #goodNews {
        width: 444px;
        height: 260px;

        align-self: flex-start;
    }

    #ohhi {
        width: 444px;
        height: 300px;

        align-self: flex-end;
    }

    /* projects styling */
    .card {
        outline: 2px solid #404040;
    }

    .topbar {
        outline: 2px solid #404040;
        padding: 3px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .bottombar {
        display: flex;

        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .projectText h4 {
        font-size: 30px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        font-size: 16px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 130px;
        height: auto;

        align-self: center;
    }

    .projectImages a {
        background-color: #FF9793;
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 15px;
        padding-left: 15px;
        align-self: center;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    /* title styling */
    .logo {
        font-size: 30px;
    }

    .squareLogo {
        width: 50px;
    }

    /* cards styling */
    #birdApp {
        margin-top: -150px;
    }

    #yaochi {
        margin-top: -100px;
    }

    #goodNews {
        margin-top: -100px;
    }

    #ohhi {
        margin-top: -100px;
    }
}

@media only screen and (min-width: 1500px) {

}/* general styling */
html {
    background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
}

/* footer styling */
.footer {
    color: white;

    list-style-type: none;

    font-family: 'Nanum Gothic';
    font-weight: 400;
}

.footer li {
    padding: 0;
}

.github {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 520px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* code portfolio title styling */
    .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: "Scheherazade New";
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 90%;

        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -20vh;
    }

    h2 {
        color: white;
        font-family: "Overpass Mono";
        font-size: 16px;
        font-weight: 400;
        
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .projects {
        margin-left: 4vw;
        margin-right: 4vw;

        margin-bottom: 50px;
    }

    /* card styling */
    .card {
        background-color: rgb(255,255,255, 0.6);
        outline: 2px solid #404040;

        margin-top: 50px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;

        box-shadow: 10px 5px 10px #ff655f;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        outline: 2px solid #404040;
        padding: 3px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;

        margin: 0;
        padding: 0;
    }

    .bottombar {
        display: flex;

        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .projectText h4 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 30px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 26vw;
        height: auto;

        align-self: center;
    }

    .projectImages a {
        background-color: #FF9793;
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 3vw;
        padding-right: 3vw;

        align-self: center;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;
    }

    .portfolio a:visited {
        color: white;
    }
    

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }

}

@media only screen and (min-width: 520px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* code portfolio title styling */
    .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: "Scheherazade New";
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 90%;

        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -20vh;
    }

    h2 {
        color: white;
        font-family: "Overpass Mono";
        font-size: 18px;
        font-weight: 400;
        
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .projects {
        margin-left: 4vw;
        margin-right: 4vw;

        margin-bottom: 50px;
    }

    /* card styling */
    .card {
        background-color: rgb(255,255,255, 0.6);
        outline: 3px solid #404040;

        margin-top: 60px;
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;

        box-shadow: 10px 5px 10px #ff655f;
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        outline: 3px solid #404040;
        padding: 5px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    .bottombar {
        display: flex;

        padding: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .projectText h4 {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 35px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 18px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        color: #404040;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        color: #404040;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 30vw;
        height: auto;

        margin-bottom: 10px;

        align-self: center;
    }

    .projectImages a {
        background-color: #FF9793;
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5vw;
        padding-right: 5vw;

        align-self: center;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 18px;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 18px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 18px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 18px;
    }

    .portfolio a:visited {
        color: white;
    }
    

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    /* projects styling */
    .projects {
        display: flex;
        flex-direction: column;
    }

    /* card styling */
    #motherHen {
        width: 536px;
        height: 340px;

        align-self: flex-end;
    }

    #birdApp{
        width: 536px;
        height: 330px;

        align-self: flex-start;
    }

    #yaochi {
        width: 536px;
        height: 310px;

        align-self: flex-end;
    }

    #goodNews {
        width: 536px;
        height: 310px;

        align-self: flex-start;
    }

    #ohhi {
        width: 536px;
        height: 340px;

        align-self: flex-end;
    }

    .projectImages img {
        width: 180px;
        height: auto;
    }

    .projectImages a {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        height: initial;
        margin-top: 250px;
        margin-bottom: 200px;
    }

    h1 {
        font-size: 60px;
        
        margin-right: 6vw;
        margin-left: 6vw;
        margin-top: initial;
    }

    h2 {
        margin-right: 6vw;
        margin-left: 6vw;
    }
    
    /* projects styling */
    .projects {
        margin-left:8vw;
        margin-right:8vw;
    }

    /* portfolio content styling */
    .moreStuff {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moreStuff p {
        font-size: 18px;
    }

    .portfolio li {
        font-size: 18px;
    }

    .portfolio a:link {
        font-size: 18px;
    }

    .portfolio a:hover {
        background-color: #445DC9;
    }

    /* footer styling */
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: left;
    }

    .leftFoot {
        margin-right: 20vw;
        margin-left: 0;
    }
    
    .rightFoot {
        margin-left: 20vw;
        margin-right: 0;
    }
}

@media only screen and (min-width: 835px) {
    /* putting away mobile nav */
    .mobileNav {
        display: none;
    }

    .mobileTitle {
        display: none;
    }

    input {
        display: none;
    }

    .open {
        display: none;
    }

    .menuOpen {
        display: none;
    }

    /* title styling */
    .squareLogo {
        width: 50px;
        height: auto;
    
        padding: 10px 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    
        margin-right: auto;
    }


    /* navigation bar styling */
    .nav {
        list-style-type: none;
        font-size: 16px;
        font-family: 'Nanum Gothic';
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .nav li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .more {
        margin-right: 20px;
    }
    
    .more a:link, .navLink a:link {
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    
    .logo a:link {
        padding: 0;
        text-decoration: none;
        color:white;
    }
    
    .nav a:visited {
        text-decoration: none;
        color: white;
    }
    
    .more a:hover, .navLink a:hover {
        color: white;
        background-color: #FF655F;
    }

    /* footer styling */
    .footer {
        font-size: 16px;
    }

}

@media only screen and (min-width: 1000px) {
    /* intro styling */
    .intro h2 {
        width: 70vw;
    }

    .projects {
        margin-left: 10vw;
        margin-right: 10vw;
    }
    
    /* card styling */
    #motherHen {
        width: 444px;
        height: 300px;

        align-self: flex-end;
    }

    #birdApp{
        width: 444px;
        height: 320px;

        align-self: flex-start;
    }

    #yaochi {
        width: 444px;
        height: 300px;

        align-self: flex-end;
    }

    #goodNews {
        width: 444px;
        height: 260px;

        align-self: flex-start;
    }

    #ohhi {
        width: 444px;
        height: 300px;

        align-self: flex-end;
    }

    /* projects styling */
    .card {
        outline: 2px solid #404040;
    }

    .topbar {
        outline: 2px solid #404040;
        padding: 3px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .bottombar {
        display: flex;

        padding: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    .projectText h4 {
        font-size: 30px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        font-size: 16px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 130px;
        height: auto;

        align-self: center;
    }

    .projectImages a {
        background-color: #FF9793;
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 15px;
        padding-left: 15px;
        align-self: center;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;
    }
}

@media only screen and (min-width: 1200px) {
    /* title styling */
    .logo {
        font-size: 30px;
    }

    .squareLogo {
        width: 50px;
    }

    /* cards styling */
    #birdApp {
        margin-top: -150px;
    }

    #yaochi {
        margin-top: -100px;
    }

    #goodNews {
        margin-top: -100px;
    }

    #ohhi {
        margin-top: -100px;
    }
}

@media only screen and (min-width: 1300px) {
    /* background image styling */
    .grid {
        position: absolute;
        
        width: 40vw;
        z-index: -15;
        right: 15vw;
        top: 70vh;
    }
    
    /* intro styling */
    .intro h2 {
        width: 60vw;
    }

    .projects {
        margin-left: 6vw;
        margin-right: 6vw;
    }
    
    /* card styling */
    #motherHen {
        width: 536px;
        height: 340px;

        align-self: flex-end;
    }

    #birdApp{
        width: 536px;
        height: 330px;

        align-self: flex-start;
    }

    #yaochi {
        width: 536px;
        height: 310px;

        align-self: flex-end;
    }

    #goodNews {
        width: 536px;
        height: 310px;

        align-self: flex-start;
    }

    #ohhi {
        width: 536px;
        height: 340px;

        align-self: flex-end;
    }

    /* card styling */
    .card {
        outline: 3px solid #404040;

        margin-top: 60px;
        margin-bottom: 20px;
    }

    .topbar {
        outline: 3px solid #404040;
        padding: 5px;
    }

    .x {
        width: 20px;
        height: auto;

        margin: 0;
        padding: 0;
    }

    .topbar h3 {
        font-size: 18px;

        margin: 0;
        padding: 0;
    }

    .bottombar {
        padding: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .projectText h4 {
        font-size: 35px;
        line-height: 90%;

        padding: 0;
        margin: 0;
        margin-bottom: 8px;
    }

    .type {
        font-size: 20px;
        line-height: 95%;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .projectText h6 {
        font-size: 18px;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }

    .skills {
        font-size: 20px;

        padding: 0;
        margin: 0;
    }

    .projectText p {
        font-size: 16px;

        padding: 0;
        margin: 0;
    }

    .projectImages {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        margin-left: 5px;
    }

    .projectImages img {
        width: 180px;
        height: auto;

        margin-bottom: 10px;

        align-self: center;
    }

    .projectImages a {
        outline: 2px solid #404040;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 30px;
        padding-left: 30px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 1400px){
    .projects {
        margin-right: 10vw;
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 1500px){
    .projects {
        margin-right: 12vw;
        margin-left: 12vw;
    }
}