/* general styling */
html {
    background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
}

/* scroll button styling */
.ctaContainer {
    display: flex;
    justify-content: center;
}

.cta {
    position: absolute;
    top: 90%;
    z-index: 10;

    color: white;
    
    font-family: 'Overpass Mono';
    font-weight: 700;
    font-size: 20px;
}

/* footer styling */
.footer {
    color: white;

    list-style-type: none;

    font-family: 'Nanum Gothic';
    font-weight: 400;
}

.footer li {
    padding: 0;
}

.github {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 520px) {
    /* background image styling */
    /* background clouds styling */
    .cloud1, .cloud2 {
        position: fixed;
        z-index: -20;
        width: 150vw;
        height: auto;
    }

    .cloud1 {
        right: -80vw;
        top: 15vh;
    }

    .cloud2 {
        right: 20vw;
        top: 60vh;
    }

    /* mobile nav styling */
    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;

        z-index: 15;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* code portfolio title styling */
    .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: "Scheherazade New";
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 90%;

        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -20vh;
    }

    h2 {
        color: white;
        font-family: "Overpass Mono";
        font-size: 16px;
        font-weight: 400;
        
        margin-left: 4vw;
        margin-right: 4vw;
    }


    /* case study styling */
    .case {
        margin-right: 4vw;
        margin-left: 4vw;
        margin-bottom: 50px;
    }

    .caseImage img {
        width: 90vw;
        height: auto;
    }

    .caseText h3 {
        color: white;

        font-family:'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        margin-bottom: -50px;
    }

    .caseText h4 {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 700;
        font-size: 40px;

        margin-bottom: -30px;
    }

    .caseText h5 {
        color: white;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        margin-bottom: 10px;
    }

    .caseText a {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 18px;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;
    }

    .portfolio a:visited {
        color: white;
    }
    

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (min-width: 520px) {
    .cloud1, .cloud2 {
        position: fixed;
        z-index: -20;
        width: 150vw;
        height: auto;
    }

    .cloud1 {
        right: -80vw;
        top: 15vh;
    }

    .cloud2 {
        right: 20vw;
        top: 60vh;
    }

    /* mobile nav styling */
    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;

        z-index: 15;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


     /* code portfolio title styling */
     .intro {
        height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        color: white;
        font-family: "Scheherazade New";
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 90%;

        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: -20vh;
    }

    h2 {
        color: white;
        font-family: "Overpass Mono";
        font-size: 18px;
        font-weight: 400;
        
        margin-left: 4vw;
        margin-right: 4vw;
    }


    /* case study styling */
    .case {
        margin-right: 5vw;
        margin-left: 5vw;
        margin-bottom: 50px;
    }

    .caseImage {
        display: flex;
        justify-content: center;
    }

    .caseImage img {
        width: 80vw;
        height: auto;
    }

    .caseText h3 {
        color: white;

        font-family:'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        margin-bottom: -50px;
    }

    .caseText h4 {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 700;
        font-size: 40px;
        line-height: 130%;

        margin-bottom: -30px;
    }

    .caseText h5 {
        color: white;

        font-family: 'Nanum Gothic';
        font-weight: 400;
        font-size: 16px;

        margin-bottom: 10px;
    }

    .caseText a {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 18px;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
        margin-left: 4vw;
        margin-right: 4vw;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 16px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 16px;
    }

    .portfolio a:visited {
        color: white;
    }


    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (min-width: 600px) {
    /* case studies */
    .caseStudies {
        display: flex;
        flex-direction: column;
    }
    /* case study styling */
    .case {
        width: 452px;
        height: auto;

        align-self: center;
    }

    .caseImage img {
        width: 416px;
        height: auto;
    }

}

@media only screen and (min-width: 700px) {
    .intro {
        height: initial;
        margin-top: 250px;
        margin-bottom: 200px;
    }

    .ctaContainer {
        display: none;
    }

    h1 {
        font-size: 60px;
        
        margin-right: 6vw;
        margin-left: 6vw;
        margin-top: initial;
    }

    h2 {
        margin-right: 6vw;
        margin-left: 6vw;
    }

    /* case study styling */
    .case {
        display: flex;
        justify-content: space-evenly;

        margin-right: 6vw;
        margin-left: 6vw;
        margin-bottom: 60px;

        width: initial;
        height: auto;
    }

    .caseImage {
        display: initial;
    }

    .caseImage img {
        display: initial;
        width: 40vw;
        height: auto;

        align-self: center;
    }

    .caseText {
        width: 45vw;
    }

    /* cases styling */
    #lynq .caseText {
        margin-left: 10px;
    }

    #motherHen {
        flex-direction: row-reverse;
    }

    #motherHen .caseText {
        margin-right: 10px;
    }

    #yaochi .caseText {
        margin-left: 10px;
    }

    #indianCreek {
        flex-direction: row-reverse;
    }

    #oo .caseText {
        margin-left: 10px;
    }


    /* portfolio content styling */
    .moreStuff {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moreStuff p {
        font-size: 18px;
    }

    .portfolio li {
        font-size: 18px;
    }

    .portfolio a:link {
        font-size: 18px;
    }

    .portfolio a:hover {
        background-color: #445DC9;
    }

    /* footer styling */
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: left;
    }

    .leftFoot {
        margin-right: 20vw;
        margin-left: 0;
    }
    
    .rightFoot {
        margin-left: 20vw;
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .case {
        align-items: center;
    }

    .caseText {
        width: initial;
    }
}

@media only screen and (min-width: 835px) {
     .case {
        margin-right: 10vw;
        margin-left: 10vw;
    }

    /* putting away mobile nav */
    .mobileNav {
        display: none;
    }

    .mobileTitle {
        display: none;
    }

    input {
        display: none;
    }

    .open {
        display: none;
    }

    .menuOpen {
        display: none;
    }

    /* title styling */
    .squareLogo {
        width: 50px;
        height: auto;
    
        padding: 10px 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    
        margin-right: auto;
    }


    /* navigation bar styling */
    .nav {
        list-style-type: none;
        font-size: 16px;
        font-family: 'Nanum Gothic';
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .nav li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .more {
        margin-right: 20px;
    }
    
    .more a:link, .navLink a:link {
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    
    .logo a:link {
        padding: 0;
        text-decoration: none;
        color:white;
    }
    
    .nav a:visited {
        text-decoration: none;
        color: white;
    }
    
    .more a:hover, .navLink a:hover {
        color: white;
        background-color: #FF655F;
    }

    /* footer styling */
    .footer {
        font-size: 16px;
    }
}


@media only screen and (min-width: 1000px) {
    /* background images styling */
    .cloud1 {
        width: 100vw;
        height: auto;
        right: -60vw;
        top: 20vh;
    }

    .cloud2 {
        width: 100vw;
        height: auto;
        right: 40vw;
        top: 50vh;
    }


    /* intro styling */
    .intro h2 {
        width: 70vw;
    }

    .case {
        margin-right: 12vw;
        margin-left: 12vw;
    }

}

@media only screen and (min-width: 1200px) {
    /* title styling */
    .logo {
        font-size: 30px;
    }

    /* case typography styling */
    .caseText h3 {
        font-size: 18px;
        margin-bottom: -50px;
    }

    .caseText h4 {
        font-size: 42px;
        line-height: 130%;
        margin-bottom: -30px;
    }

    .caseText h5 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .caseText a {
        font-size:20px;
    }

    /* cases styling */
    #lynq .caseText {
        margin-left: 30px;
    }

    #motherHen .caseText {
        margin-right: 30px;
    }

    #yaochi .caseText {
        margin-left: 30px;
    }

    #indianCreek caseText {
        margin-left: 30px;
    }

    #oo .caseText {
        margin-left: 30px;
    } 

    .case {
        margin-bottom: 50px;
    }   

    /* case image styling */
    .caseImage img {
        width: 500px;
        height: auto;

        align-self: center;
    }

    .caseText {
        width: 500px;
    }
}

@media only screen and (min-width: 1300px) {
    /* intro styling */
    .intro h2 {
        width: 60vw;
    }

    .projects {
        margin-left: 6vw;
        margin-right: 6vw;
    }
}