/* general styling */
html {
    background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
}

/* footer styling */
.footer {
    color: white;

    list-style-type: none;

    font-family: 'Nanum Gothic';
    font-weight: 400;
}

.footer li {
    padding: 0;
}

.github {
    color: white;
    text-decoration: underline;
}

/* typewriter effect */
#changeText {
    z-index: -10;
}

@keyframes typewriter {
    0%, 100% {
        width: 0;
    }
    20%, 80% {
        width: 7.8em;
    }
}
    
@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typewriter;
    display: inline-block;
    position: relative;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}
    
    
.typewriter::after {
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}


@media only screen and (max-width: 520px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* introduction styling */
    h1 {
        font-family: 'Overpass Mono';
        font-size: 18px;
        font-weight: 400;
        color: white;
    }

    h2 {
        font-family: 'Scheherazade New';
        font-size: 38px;
        font-weight: 700;
        letter-spacing: 1px;
        color: white;
    }

    h3 {
        font-family: 'Overpass Mono';
        font-size: 15px;
        font-weight: 400;
        color: white;
        margin: 0;
    }


    /* for the wave */
    @media (max-aspect-ratio: 10/11) {
        #hokusai {
            width: 100vw;
            margin-left: -50vw;
            position: absolute;
            left: 50%;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            bottom: 0;
            z-index: -10;
        }

        #intro {
            height: 100vh;
            margin-bottom: -60px;
            padding-bottom: 0;
        }
    }

    @media (min-aspect-ratio: 10/11) {
        #hokusai {
            width: 100vw;
            margin-left: -50vw;
            position: relative;
            left: 50%;
            margin-top: -50px;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            z-index: -10;
        }

        #intro {
            height: 100vh;
            margin-bottom: 300px;
            padding-bottom: 0;
        }
    }


    /* work experience styling */
    h4 {
        color: white;

        font-family: 'Scheherazade New';
        font-size: 25px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1px;

        
        margin-left: 10px;
        margin-bottom: -20px;
    }

    .places {
        list-style-type: none;
        margin-bottom: 80px;
    }

    .places h5 {
        padding: 0;
        margin-bottom: -20px;
    }

    .places a:link {
        color: white;
        text-decoration: none;

        font-family: 'Scheherazade New';
        font-weight: 700;
        font-size: 35px;
        letter-spacing: 1px;
    }

    .places a:visited {
        color: white;
        text-decoration: none;
    }

    .places h6 {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 13px;

        padding-top: 0;
        padding-bottom: -10px;
        margin: 0;
    }


    /* work art styling */
    .workArt {
        display: none;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
    }
    
    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 13px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 13px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 13px;
    }

    .portfolio a:visited {
        color: white;
    }


    /* background clouds styling */
    .cloud1, .cloud2 {
        position: fixed;
        z-index: -20;
        width: 150vw;
        height: auto;
    }

    .cloud1 {
        right: -80vw;
        top: 15vh;
    }

    .cloud2 {
        right: 20vw;
        top: 50vh;
    }

    .grid {
        position: absolute;
        z-index: -25;
        width: 60vw;
        height: auto;

        right: 0vw;
        top: 60vh;
    }

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}


@media only screen and (min-width: 520px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: white;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: linear-gradient(#445DC9, #BBA4F9, #445DC9) fixed;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:white;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: white;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:white;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }

    
    /* mobile title styling */
    .squareLogo {
        width: 50px;
        height: auto;

        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        margin-right: auto;
        padding: 25px 25px;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    }

    .title a:link {
        padding: 0;
        text-decoration: none;
        color: white;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: white;
    }


    /* introduction styling */
    h1 {
        font-family: 'Overpass Mono';
        font-size: 18px;
        font-weight: 400;
        color: white;
    }

    h2 {
        font-family: 'Scheherazade New';
        font-size: 38px;
        font-weight: 700;
        letter-spacing: 1px;
        color: white;
    }

    h3 {
        font-family: 'Overpass Mono';
        font-size: 15px;
        font-weight: 400;
        color: white;
        margin: 0;
    }


    /* for the wave */
    @media (max-aspect-ratio: 10/11) {
        #hokusai {
            width: 100vw;
            margin-left: -50vw;
            position: absolute;
            left: 50%;
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            bottom: 0;
            z-index: -10;
        }

        #intro {
            height: 100vh;
            margin-bottom: -60px;
            padding-bottom: 0;
        }
    }

    @media (min-aspect-ratio: 10/11) {
        #hokusai {
            width: 100vw;
            margin-left: -50vw;
            position: relative;
            left: 50%;
            margin-top: -50px;
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
            z-index: -10;
        }

        #intro {
            height: 100vh;
            margin-bottom: 300px;
            padding-bottom: 0;
        }
    }


    /* work experience styling */
    h4 {
        color: white;

        font-family: 'Scheherazade New';
        font-size: 25px;
        font-weight: 100;
        font-style: italic;
        letter-spacing: 1px;

        
        margin-left: 10px;
        margin-bottom: -20px;
    }

    .places {
        list-style-type: none;
        margin-bottom: 80px;
    }

    .places h5 {
        padding: 0;
        margin-bottom: -20px;
    }

    .places a:link {
        color: white;
        text-decoration: none;

        font-family: 'Scheherazade New';
        font-weight: 700;
        font-size: 35px;
        letter-spacing: 1px;
    }

    .places a:visited {
        color: white;
        text-decoration: none;
    }

    .places h6 {
        color: white;

        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 13px;

        padding-top: 0;
        padding-bottom: -10px;
        margin: 0;
    }


    /* portfolio link styling */
    .portfolio {
        list-style-type: none;
        margin-left: -10px;
    }

    .moreStuff {
        padding-left: 10px;
    }

    .moreStuff p {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 13px;
        font-weight: 400;
    }

    .portfolio li {
        color: white;
        font-family: 'Overpass Mono';
        font-size: 13px;
        font-weight: 400;
    }

    .portfolio a:link {
        color: white;
        font-family: 'Overpass Mono';
        font-weight: 400;
        font-size: 13px;
    }

    .portfolio a:visited {
        color: white;
    }


    /* work art styling */
    .workArt {
        display: none;
    }


    /* background clouds styling */
    .cloud1, .cloud2 {
        position: fixed;
        z-index: -20;
        width: 120vw;
        height: auto;
    }

    .cloud1 {
        right: -60vw;
        top: 5vh;
    }

    .cloud2 {
        right: 20vw;
        top: 50vh;
    }

    .grid {
        position: absolute;
        z-index: -25;
        width: 60vw;
        height: auto;

        right: 0vw;
        top: 60vh;
    }

    /* footer styling */
    .footer {
        padding-left: 0;
        margin-top: 50px;
        
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (min-width: 768px) {
    /* intro styling */
    #text {
        margin-left: 5vw;
    }
    
    /* the wave styling */
    #hokusai {
        width: 100vw;
        margin-left: -50vw;
        position: absolute;
        left: 50%;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        bottom: -10vh;
        z-index: -15;
    }

    #intro {
        height: 100vh;
        margin-bottom: 0;
        padding-bottom: 0;
    }


    /* work art styling */
    #work {
        display: flex;
    }

    .workArt {
        display: block;
    } 

    .grid2 {
        position: absolute;
        z-index: -25;
        width: 60vw;
        height: auto;

        right:70vw;
        top: 120vh;
    }

    .gifaoru2 {
        display: none;
    }

    .gifaoru {
        width: 50vw;
        height: auto;

        padding-right: 0;
        margin-right: -10vw;
    }

    .workContent {
        padding-right: 4vw;
    }


    /* portfolio content styling */
    .moreStuff {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .moreStuff p {
        font-size: 16px;
    }

    .portfolio li {
        font-size: 16px;
    }

    .portfolio a:link {
        font-size: 16px;
    }

    .portfolio a:hover {
        background-color: #FF655F;
    }


    /* background image styling */

    .grid {
        position: absolute;
        z-index: -25;
        width: 40vw;
        height: auto;

        right: 0vw;
        top: 60vh;
    }


    /* footer styling */
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: left;
    }

    .leftFoot {
        margin-right: 20vw;
        margin-left: 0;
    }
    
    .rightFoot {
        margin-left: 20vw;
        margin-right: 0;
    }
}



@media only screen and (min-width: 835px) {
    /* putting away mobile nav */
    .mobileNav {
        display: none;
    }

    .mobileTitle {
        display: none;
    }

    input {
        display: none;
    }

    .open {
        display: none;
    }

    .menuOpen {
        display: none;
    }

    /* title styling */
    .squareLogo {
        width: 50px;
        height: auto;
    
        padding: 10px 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 25px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    
        margin-right: auto;
    }

    /* navigation bar styling */
    .nav {
        list-style-type: none;
        font-size: 16px;
        font-family: 'Nanum Gothic';
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .nav li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .more {
        margin-right: 20px;
    }
    
    .more a:link, .navLink a:link {
        text-decoration: none;
        color: white;
        padding: 5px;
    }
    
    .logo a:link {
        padding: 0;
        text-decoration: none;
        color:white;
    }
    
    .nav a:visited {
        text-decoration: none;
        color: white;
    }
    
    .more a:hover, .navLink a:hover {
        color: white;
        background-color: #445DC9;
    }


    /* intro styling */
    #text {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h1 {
        font-size: 18px;
        margin-bottom: -30px;
        padding-bottom: 0;
    }

    h2 {
        font-size: 45px;
        padding-bottom: 0;
        margin-bottom: -10px;
    }

    h3 {
        font-size: 16px;
    }

    #intro {
        margin-bottom: 50px;
    }

    /* the wave styling */
    #hokusai {
        position: absolute;
        bottom: -20vh;
    }

    
    /* background images styling */
    .cloud1 {
        width: 100vw;
        height: auto;
        right: -20vw;
        top: 20vh;
    }

    .cloud2 {
        width: 100vw;
        height: auto;
        right: 50vw;
        top: 60vh;
    }

    .grid {
        z-index: -15;
        right: 5vw;
        top: 20vh;
    }


    /* work experience styling */
    h4 {
        font-size: 30px;
        margin-bottom: -30px;
    }

    .places h5 {
        margin-bottom: -10px;
    }

    .places a:link {
        font-size: 38px;
        font-weight: 400;
    }

    .places a:hover {
        color: #FFEE9D;
    }

    .places h6 {
        font-size: 16px;
    }


    /* work art styling */
    .grid2 {
        top: 130vh;
    }

    .gifaoru {
        width: 55vw;
        margin-right: -20vw;
    }

    /* footer styling */
    .footer {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    h2 {
        font-size: 60px;
    }

    .workContent {
        margin-top: 50px;
    }

    /* work experience styling */
    h4 {
        font-size: 35px;
        margin-bottom: -30px;
    }

    .places h5 {
        margin-bottom: -10px;
    }

    .places a:link {
        font-size: 42px;
        font-weight: 400;
    }

    .places a:hover {
        color: #FFEE9D;
    }

    .places h6 {
        font-size: 18px;
    }

    /* work art styling */

    .gifaoru {
        margin-right: -10vw;
    }

    /* portfolio links styling */
    .moreStuff p {
        font-size: 20px;
    }
    
    .portfolio a:link {
        font-size: 20px;
    }
}


@media only screen and (min-width: 1200px) {
    /* title styling */
    .logo {
        font-size: 30px;
    }

    .squareLogo {
        width: 50px;
    }

    /* intro styling */
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 70px;
    }

    h3 {
        font-size:20px;
    }

    #text {
        margin-right: 40vw;
    }

    /* work experience styling */
    #work {
        margin-top: 100px;
    }

    .workContent {
        margin-top: 0;
        margin-right: 5vw;
    }

    /* work art styling */
    .grid2 {
        width: 50vw;

        right: 50vw;
        top: 130vh;
    }

    .gifaoru {
        display: none;
    }

    .gifaoru2 {
        display: block;
        width: 55vw;
        height: auto;
        padding: 0;
        margin-top: 100px;
    }
}


@media only screen and (min-width: 1500px) {
    /* intro styling */
    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 80px;
    }

    h3 {
        font-size:22px;
    }

    #text {
        margin-right: 40vw;
    }

    /* work experience styling */
    #work {
        margin-top: 150px;
    }

    /* work art styling */
    .gifaoru2 {
        width: 50vw;
        height: auto;
    }
}