/* nav styling */
.nav {
    font-weight: 500;
}

/* resume image styling */
.resume {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    margin-top: 50px;
}


/* little blurb styling */
.blurb {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 60px;
}

h1, h2 {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;

    margin: 0;
}

h2 {
    color: #707070;
}

.pdf a:link {
    text-decoration: none;
    color: black;

    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;

    padding: 10px;
    background-color: white;
    box-shadow: 5px 5px 8px #FF655F;
    
    margin-top: 15px;
}

.pdf a:visited {
    text-decoration: none;
    color: black;
}


/* footer styling */
.footer {
    list-style-type: none;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

.footer li {
    padding: 0;
}

.github {
    color: black;
    text-decoration: underline;
}



@media only screen and (max-width: 768px) {
    /* mobile nav styling */

    .nav {
        display: none;
    }

    input {
        display: none;
    }
      
    .open {
        background-color: black;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        cursor: pointer;
        position: relative;
        top: 8px;
    }
      
    .open:before {
        content: "";
        background-color: black;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: -8px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .open:after {
        content: "";
        background-color: black;
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 2px;
        position: relative;
        top: 4px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
      
    .menuOpen {
        width: 24px;
        height: 20px;
        display: block;
        padding: 15px;
        cursor: pointer;
        float: right;
    }
      
    .menuOpen:hover .open:before {
        top: -9px;
    }
      
    .menuOpen:hover .open:after {
        top: 5px;
    }
      
    .menu {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: white;
    }
      
    .menu label {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 20px;
        top: 20px;
        background-size: 100%;
        cursor: pointer;
    }
      
    .menu .menuContent {
        position: relative;
        top: 50%;
        font-size:40px;
        line-height: 60px;
        text-align: center;
        padding-bottom: 20px;
        margin-top: -170px;
    }
      
    .menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
    }
      
    .menu ul li a {
        display: block;
        color:black;
        text-decoration: none;
        transition: color 0.2s;
        font-family: 'Nanum Gothic', sans-serif;
        padding: 10px 0;
    }
      
    .menu ul li a:hover {
        color: black;
    }
      
    .menu ul li:hover {
        background: #FFEE9D;
    }
    
    .menuEffects {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
    }
    
    .menuEffects ul {
        transform: translateY(0%);
        transition: all 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s;
    }
    
    #menuToggle:checked ~ .menuEffects ul {
        opacity: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open {
        background-color: transparent;
    }
    
    #menuToggle:checked ~ .menuOpen .open:before {
        content: "";
        background-color: black;
        transform: rotate(45deg);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:checked ~ .menuOpen .open:after {
        content: "";
        background-color:black;
        transform: rotate(-45deg);
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }
    
    #menuToggle:not(:checked) ~ .menuEffects ul {
        transform: translateY(-30%);
    }
    
    /* logo styling */
    .squareLogo {
        width: 50px;
        height: auto;
    
        padding: 10px 10px;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 30px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    
        margin-right: auto;
    }

    .mobileTitle {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .mobileTitle li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }

    .logo a:link {
        padding: 0;
        text-decoration: none;
        color: black;
    }
    
    .mobileTitle a:visited {
        text-decoration: none;
        color: black;
    }

    /* resume styling */
    .resume img {
        max-width: 90%;
        width: auto;
        height: auto;
    
        align-self: center;
    }


    /* footer styling */
    .footer {
        padding-left: 0;
        text-align: center;
        font-size: 12px;
    }
}


@media only screen and (min-width: 768px) {
    /* logo styling */
    .squareLogo {
        width: 70px;
        height: auto;
    
        padding: 10px 10px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        padding: 25px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        font-size: 35px;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 700;
    
        margin-right: auto;
    }
    
    /* nav bar styling */
    .mobileNav {
        display: none;
    }

    .mobileTitle {
        display: none;
    }

    input {
        display: none;
    }

    .open {
        display: none;
    }


    .nav {
        list-style-type: none;
        font-size: 18px;
        font-family: 'Source Code Pro', monospace;
        top: 0;
        margin: 0;
        padding: 0;
    
        /*flexbox*/
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    
    .nav li {
        list-style-type: none;
        padding: 12px;
        display: flex;            /* NEW; nested flex container */
        justify-content: center;  /* NEW; align anchor elements horizontally */
        align-items: center; 
    }
    
    .more {
        margin-right: 20px;
    }
    
    
    /* nav bar links and shit */
    .more a:link, .navLink a:link {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
    
    .logo a:link {
        padding: 0;
        text-decoration: none;
        color: black;
    }
    
    .nav a:visited {
        text-decoration: none;
        color: black;
    }
    
    .more a:hover, .navLink a:hover {
        color: black;
        background-color: #FFEE9D;
    }

    /* resume styling */
    .resume img {
        max-width: 90%;
        width: auto;
        height: auto;
    
        align-self: center;
    }

    /* footer styling */
    .footer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        text-align: left;
    }

    .leftFoot {
        margin-right: 20vw;
        margin-left: 0;
    }
    
    .rightFoot {
        margin-left: 20vw;
        margin-right: 0;
    }


}


@media only screen and (min-width: 1100px) {
    /* resume styling */
    .resume img {
        width: 65vw;
        height: auto;
    
        align-self: center;
    }
    
}

